TELEGRAM_TOKEN=7792325812:AAEXurr11rDn8qevDiyz_-4RPhdBki7iQiE

OPENAI_API_KEY=W2v1u123ew11EF1234ghIkl7W2v1

OPENAI_EMAIL=<your email from your openai account>

OPENAI_PASSWORD=<your password from your openai account>
